.git/
.gitignore

.vscode/
.idea/
*.code-workspace

build/
bin/
*.o
*.obj
*.so
!bin/*.so
*.dll
*.exe
*.out
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

data/
*.csv
*.json

__pycache__/
*.pyc
*.pyo

profiler/

Dockerfile
docker-compose.yml
